<div class="flex border-t border-gray-400 px-3 md:px-16 lg:px:32">
  {{play-pause-toggle play=(action "play") pause=(action "pause") bubbles=false}}
  <p class="pt-4 xs:pt-8 sm:pb-8 pl-2 sm:pr-10 ">
    <time class="font-normal text-gray-800 px-2">{{player.currentTime}}</time>
    <div class="block xs:inline-block">
      <span class="text-sm xs:text-base font-semibold text-orange-300 hover:text-orange-200">{{player.title}}</span>
    </div>
    <div class="block xs:inline-block">
      <time class="font-light text-gray-500 hover:text-black px-2" datetime={{player.releaseDate}}>{{player.releaseDate}}</time>
    </div>
  </p>
</div>
<div class="h-2 absolute top-0 left-0 bg-orange-100 cursor-pointer" style={{bufferStyle}}></div>
<div class="h-2 absolute top-0 left-0 bg-orange-300 cursor-pointer" style={{progressStyle}}>
  {{play-head dragging=draggingPlayhead position=playheadPosition}}
</div>
{{track-bar class="w-full h-2 absolute top-0 left-0 cursor-pointer" drag=(action "dragTrack") seekTo=(action "seekTo") dragging=draggingPlayhead}}
