<img alt="picture of {{name}}" src={{avatarURL}} class="rounded-lg mr-6 w-56 h-auto xs:w-28 sm:h-56 sm:w-auto self-start">
<div class="guest_bio">
  <h3 class="uppercase text-gray-700 text-xs font-bold mb-2">Our Guest this Weekend</h3>
  <h1 class="text-lg font-bold ">
    <a class="text-orange-250" href={{guestInfoURL}} rel="noopener" target="_blank">{{name}}</a>
  </h1>
  <p class="mb-4 font-thin">{{tagLine}}</p>
  <p class="font-thin text-sm">{{bio}}</p>
</div>
