<div class="overflow-y-auto h-full">
  <div class="sm:mx-auto sm:w-4/5">
    <ul class="sm:flex sm:flex-wrap sm:justify-between sm:mt-4">
      {{#each model as |episode|}}
        <li class="w-full sm:w-49-p sm:mb-4 bg-gray-100 sm:rounded border-gray-400 border flex">
          <div class="flex mx-4">
             {{#if episode.playing}}
              <a class="play self-center relative" href="#" {{action "pause"}}>
                <div class="bg-orange-300 hover:bg-orange-200 text-white text-lg rounded-full w-10 h-10 flex items-center justify-center orange-outline">
                  {{fa-icon "pause"}}
                </div>
              </a>
            {{else}}
              <a class="play self-center relative" href="#" {{action "play" episode}}>
                <div class="bg-orange-300 hover:bg-orange-200 text-white text-lg rounded-full w-10 h-10 flex items-center justify-center orange-outline">
                  {{fa-icon "play" class="pl-1"}}
                </div>
              </a>
            {{/if}}
          </div>

          {{#link-to "episodes.show" episode.slug class="flex min-w-0 content-end flex-1"}}

            <div class="flex-auto py-4 min-w-0">
              <h1 class="text-orange-300 font-bold truncate">{{episode.title}}</h1>
              <p class="text-gray-700 text-xs">Episode {{episode.number}} &bull; {{episode.prettyReleaseDate}}</p>
            </div>

            <div class="flex-grow">
            </div>

            {{fa-icon "angle-right" class="text-3xl text-gray-500 ml-2 mr-4 flex-none self-center self-end"}}

          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>
